<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmpp04azs/image/upload/v1678460299/bnovgrilrezny5bvlnek.jpg);">
  <div class="container">
    <h1> Shown Only the Best</h1>
    <p>Save Only the Best</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="p-4">My Lists</h1>
    <%= link_to "Add List", new_list_path, class: "btn bg-dark text-light" %>
  </div>

  <div>
      <ul class="d-flex flex-wrap justify-content-start gap-3">
      <% @lists.each do |list| %>
      <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 250, crop: :fill %>')"><%= link_to list.name, list_path(list) %></li>
      <% end %>
      </ul>
  </div>
</div>
